* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #345383;
    color: #fff;
}

.avatar-wrapper {
    text-align: center;    
}
.avatar {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;    
}

.brand-title,
.brand-tagline {
    margin: 0;    
}
.brand-title {
    text-transform: uppercase;
    margin-top: 40px;
}
.brand-tagline {
    font-weight: 300;
    font-size: 18px;
    margin-top: 7px;
    color: #cee9fb;
    line-height: 1.3;
}

.nav {
    margin: 20px auto;
}

.nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
.nav ul > li {
    padding: 17px 0;    
    word-break: break-word;
    color: #fff;
}
.nav ul > li > a {
    color: inherit;
}
.nav ul > li img {
    vertical-align: sub;
    height: 20px;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {    
    color: #444;
    line-height: 1.8em;
}
.post-description iframe {
    width: 100%;
    height: 315px;    
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}
.post-description .post-title {
    padding-top: 10px;
}
.experienceIndiaUL { margin: 0; padding-left: 24px;}
.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.blog-grid-item-image {
    height: 200px;
    background-size: cover;
    background-color: #eee;
}

.blog-grid-item-title {
    font-size: 17px;
    padding-top: 10px;
}
.blog-grid-item-title > a {
    color: #333333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 10% 2em 0;
        text-align: left;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}

.pad-class {
    padding: 0 50px 0 0;
}

@media (min-width:320px)  { 
    
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .avatar { width: 100px; height: 100px;}
    .brand-title { margin-top: 20px; font-size: 20px;}
    .brand-tagline { font-size: 14px;}
    .pu { width: 100%;}
    .nav ul > li { font-size: 14px;padding-top: 7px;}
}
@media only screen and (min-width: 960px) and (max-width: 1199px) { 

}

/*--- Mobile portrait ---*/
@media only screen and (min-width : 0px) and (max-width : 480px) { 
    .nav ul > li .pure-u-1-8 { display: none !important; }
    .nav ul > li { 
        padding: 7px 10px !important;        
        font-size: 14px;
    }
    .nav ul > li img {
        display: none;
    }
    .brand-title { margin-top: 20px; font-size: 25px;}
    .pad-class { padding: 0 0px 0 0;}
    .post:not(:first-child) .post-title { margin-top: 15px; }    
    .avatar { 
        width: 100px;
        height: 100px;
    }
}

/*--- Mobile landscape ---*/
@media only screen and (min-width : 480px) and (max-width : 595px) { }

/*--- Tablet portrait ---*/
@media only screen and (min-width : 640px) and (max-width : 800px) { 
    .nav ul > li img {
        display: none;
    }
    .brand-title {
        margin-top: 20px; 
        font-size: 1.3em;
    }
    .nav {
        text-align: left;
    }
    .nav ul > li .pure-u-md-1-8 { display: none !important; }
    .nav ul > li { font-size: 14px ;}    
    .avatar { 
        width: 100px;
        height: 100px;
    }
    .pu { width: 100%;}
}

/*--- Tablet landscape --- */
@media only screen and (min-width : 1024px) and (max-width : 1224px) { 
    .avatar { 
        width: 100px;
        height: 100px;
    }
    .nav ul > li .pure-u-md-1-8 { display: none !important; }
    .nav ul > li { font-size: 14px ;}    
    .pu { width: 100%;}
}

@media only screen and (min-width : 769px) and (max-width : 1024px) { 
    .avatar { 
        width: 100px;
        height: 100px;
    }
    .brand-title {
        margin-top: 20px; 
        font-size: 1.3em;
    }
    .nav ul > li .pure-u-md-1-8 { display: none !important; }
    .nav ul > li { font-size: 14px ;}    
    .pu { width: 100%;}
}

/* pure-hidden-xs */
@media screen and (max-width:567px) {
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-xs{display:none}
}
/* pure-hidden-sm */
@media screen and (min-width:568px) and (max-width:767px) {
    .pure-visible-xs{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-sm{display:none}
}
/* pure-hidden-md */
@media screen and (min-width:768px) and (max-width:1023px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-md{display:none}
}
/* pure-hidden-lg */
@media screen and (min-width:1024px) and (max-width:1279px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-lg{display:none}
}
/* pure-hidden-xl */
@media screen and (min-width:1280px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-hidden-xl{display:none}
}